/* styles.css */

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-weight: bold;
    text-transform: uppercase;
}
